[user]
	email = ethan@etha.nz
	name = Ethan Brittain-Morby
	signingkey = 44A4CF313E031605
[credential]
	helper = cache
[core]
	excludesfile = /home/ethan/.gitignore
[commit]
	gpgsign = false
[pull]
	rebase = false
[init]
	defaultBranch = main
